body{
    /* margin: 15%;
    padding: 10%; */
    
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: rgba(169, 194, 214, 0.587);
    font-family: sans-serif;
    border: 3px dashed white;
}
img{
    float: right;
    height: 150px;
    width: 140px;
}
.information{
    text-align: left;
    height: 50%;
    width: 50%;
    font-family: sans-serif;
}

th.academic{
    /* height: 20px;
    width: 200px; */
    border: 2px solid black;
   /* background-color: rgb(172, 197, 206); */
    border-collapse: collapse;
}
h2,h3,h4{
    color: rgb(34, 30, 230);
}
